body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.deco {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  line-height: 70px;
  z-index: 99;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.header > div {
  width: 1000px;
  margin: 0 auto;
  line-height: 60px;
}
.header > div img {
  height: 30px;
}
.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.announce {
  width: 204px;
  height: 39px;
  background: #f56b2a;
  border-radius: 5px;
  color: #ffffff;
}
.headersearch {
  display: flex;
  width: 400px;
  justify-content: space-around;
}
.search {
  width: 150px;
  height: 39px;
  background: #ffffff;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
  border-radius: 5px;
  /* border: 20px 0; */
  /*  margin: 20px 0; */
}

.breadcrumb {
  z-index: 98;
  position: sticky;
  top: 80px;
  width: 600px;
  height: 120px;
  margin: 20px auto;
  margin-bottom: 90px;
  background-color: white;
  border-radius: 5px;
  border: #f56c2a 1px solid;
}
.ellipse {
  background-color: #f56c2a;
  z-index: 0;
  margin: 0 auto;
  width: 2600px;
  height: 500px;
  border-radius: 1300px/250px;
  position: fixed;
  top: -350px;
  left: calc(50% - 1300px);
}

.item {
  margin: 0 auto 20px auto;
  display: flex;
  height: 160px;
  width: 860px;
  border-radius: 5px;
  background-color: white;
}
.item:hover {
  box-shadow: 5px 5px 10px 10px rgba(205, 203, 203, 0.4);
  cursor: pointer;
}
.item figure {
  width: 210px;
  height: 160px;
  background-color: #cad1d9;
  display: flex;
  justify-content: center;
}
figure img {
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.itemDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
}
.itemDetail > div {
  display: flex;
  flex-direction: column;
}
.itemDetail > div > span:last-child {
  color: #f56c2a;
  font-size: 20px;
  line-height: 50px;
}
.itemDetail > div > span:first-child {
  font-size: 20px;
}
main {
  display: flex;
  width: 860px;
  margin: 120px auto;
}
.offer {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.offer div h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}
.offer div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.detailOffer {
  width: 600px;
  height: 480px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.detailOffer img {
  height: 336px;
  object-fit: contain;
  object-position: center;
}
.detailOffer h2 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  margin-left: 20px;
}

.detailOffer span {
  color: #f56c2a;
  font-size: 20px;
  line-height: 50px;
  margin-left: 2px;
}
.vendor {
  width: 240px;
  height: 170px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background-color: white;
  margin-left: 30px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vendor button {
  color: white;
  background-color: #f56c2a;
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
}
/**USER SIGN_UP**/
.signup {
  width: 1000px;
  height: 576px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  padding: 20px;
}

.create,
.pourquoi h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}
.pourquoi ul {
  padding: 0;
  margin: 0;
  list-style-position: initial;
}

.pourquoi ul > li:nth-child(1) {
  list-style-image: url("./assets/images/schedule_24px_outlined.svg");
}
.pourquoi ul > li:nth-child(2) {
  list-style-image: url("./assets/images/notifications_none_24px_outlined.svg");
}
.pourquoi ul > li:nth-child(3) {
  list-style-image: url("./assets/images/remove_red_eye_24px_outlined.svg");
}
.pourquoi {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.create {
  width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 370px;
  margin: 30px auto;
  border-top: #f56c2a solid 5px;
  font-size: 16px;
}

.input-field input {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
  border-radius: 5px;
  /* border: 20px 0; */
  /*  margin: 20px 0; */
}

.password {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password input {
  width: 150px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
  border-radius: 5px;
}
.input-field > span {
  line-height: 16px;
  text-align: left;
}

.checked {
  display: flex;
}
.checked p {
  margin-top: 10px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.checked input {
  border-color: #f56c2a;
  color: orange;
  width: 40px;
  margin: 0 10px;
}
.checked p span {
  color: #4183d7;
  font-weight: 500;
}

.pourquoi > ul h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}

.pourquoi > ul p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.pourquoi > ul li {
  font-size: 30px;
}

.submit button {
  width: 100%;
  height: 44px;
  background: #4183d7;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

/**FORM LOGIN */
.login {
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 20px;
}
/* .login input {
  width: 100%;
  margin: 10px auto;
} */

/* .login form {
  margin: 0 auto;
  width: 350px;
} */
.login .submit > div {
  width: 100%;
  margin: 15px auto;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #474747;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 80px;
  font-family: "Roboto";
}
button {
  height: 39px;
  width: 150px;
  font-size: 16px;
}
